input,textarea {
  display: block;
  margin: 1rem 0rem;
}
button{
  background-color: black;
}
body{
  margin: 0rem 7rem;
}
.block__comment{
  position: relative;
  left: 45rem;
  bottom: 20rem;
}
h2{
  color: #C02626;
  font-size: 35px;
}
ul{
  list-style: none;
}
li{
  margin: 2rem;
}
